In [101]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
#import warnings
import warnings
warnings.filterwarnings('ignore')

In [103]:
books = pd.read_csv('Data/books1.csv') # books data
users = pd.read_csv('Data/users3.csv') # user and age data
ratings = pd.read_csv('Data/ratings2.csv') # users rating data

In [104]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
books.drop(books.columns[books.columns.str.contains(
'unnamed', case=False)], axis=1, inplace=True)

In [106]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [107]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [108]:
users.drop(users.columns[users.columns.str.contains(
'unnamed', case=False)], axis=1, inplace=True)

In [109]:
users.head()

   User-ID     Location  Age
0      1.0          nyc  NaN
1      2.0     stockton   18
2      3.0       moscow  NaN
3      4.0        porto   17
4      5.0  farnborough  NaN

In [110]:
ratings.drop(ratings.columns[ratings.columns.str.contains(
'unnamed', case=False)], axis=1, inplace=True)

In [111]:
books.shape

(271379, 8)

In [112]:
ratings.shape

(1048575, 3)

In [113]:
users.shape

(276271, 3)

In [114]:
#looking of nulls in book data
books.isnull().sum()

ISBN                       0
Book-Title                 0
Book-Author            37626
Year-Of-Publication    38969
Publisher              38971
Image-URL-S            43231
Image-URL-M            43231
Image-URL-L            43231
dtype: int64

In [115]:
# Dropping or Deleting NULL rows from datasets
books = books.dropna()

In [116]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [117]:
books.shape

(228144, 8)

In [118]:
users.isnull().sum()

User-ID          1
Location       553
Age         110655
dtype: int64

In [119]:
# Dropping or Deleting NULL rows from datasets
users = users.dropna()

In [120]:
users.isnull().sum()

User-ID     0
Location    0
Age         0
dtype: int64

In [121]:
users.shape

(165346, 3)

In [122]:
ratings.isnull().sum()

User-ID        0
ISBN           1
Book-Rating    5
dtype: int64

In [123]:
# Dropping or Deleting NULL rows from datasets
ratings = ratings.dropna()

In [124]:
ratings.shape

(1048570, 3)

In [125]:
# Checking for duplicates
books.duplicated().sum()

np.int64(0)

In [126]:
# Checking for duplicates
users.duplicated().sum()

np.int64(0)

In [127]:
# Checking for duplicates
ratings.duplicated().sum()

np.int64(72)

In [128]:
ratings = ratings.drop_duplicates()

In [129]:
ratings.duplicated().sum()

np.int64(0)

In [130]:
ratings.shape

(1048498, 3)

In [131]:
#Unique Count
books.nunique()

ISBN                   228144
Book-Title             200681
Book-Author             90630
Year-Of-Publication       203
Publisher               14866
Image-URL-S            227859
Image-URL-M            227859
Image-URL-L            227859
dtype: int64

In [132]:
#Unique Count
ratings.nunique()

User-ID         95511
ISBN           322468
Book-Rating        11
dtype: int64

In [133]:
#Unique Count
users.nunique()

User-ID     165346
Location     24765
Age            242
dtype: int64

In [134]:
users.head()

    User-ID      Location Age
1       2.0      stockton  18
3       4.0         porto  17
5       6.0  santa monica  61
9      10.0      albacete  26
10     11.0     melbourne  14

In [135]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726   155061224          5.0
2   276727   446520802          0.0
3   276729  052165615X          3.0
4   276729   521795028          6.0

In [136]:
np.sort(ratings['Book-Rating'].unique())

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [137]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228144 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 228144 non-null  object
 1   Book-Title           228144 non-null  object
 2   Book-Author          228144 non-null  object
 3   Year-Of-Publication  228144 non-null  object
 4   Publisher            228144 non-null  object
 5   Image-URL-S          228144 non-null  object
 6   Image-URL-M          228144 non-null  object
 7   Image-URL-L          228144 non-null  object
dtypes: object(8)
memory usage: 15.7+ MB

In [138]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [139]:
books['Year-Of-Publication'] = pd.to_numeric(books['Year-Of-Publication'], downcast='integer', errors='coerce')
# books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int32)

In [140]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228144 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 228144 non-null  object
 1   Book-Title           228144 non-null  object
 2   Book-Author          228144 non-null  object
 3   Year-Of-Publication  228130 non-null  float64
 4   Publisher            228144 non-null  object
 5   Image-URL-S          228144 non-null  object
 6   Image-URL-M          228144 non-null  object
 7   Image-URL-L          228144 non-null  object
dtypes: float64(1), object(7)
memory usage: 15.7+ MB

In [141]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [142]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1048498 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1048498 non-null  int64
 1   ISBN         1048498 non-null  object
 2   Book-Rating  1048498 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 32.0+ MB

In [143]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165346 entries, 1 to 276267
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   165346 non-null  float64
 1   Location  165346 non-null  object
 2   Age       165346 non-null  object
dtypes: float64(1), object(2)
memory usage: 5.0+ MB

In [144]:
users['Age'] = pd.to_numeric(users['Age'], downcast='integer', errors='coerce')
# users['Age'] = users['Age'].astype('int64') # converting into integer type

In [145]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165346 entries, 1 to 276267
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   165346 non-null  float64
 1   Location  165346 non-null  object
 2   Age       163405 non-null  float64
dtypes: float64(2), object(1)
memory usage: 5.0+ MB

## Popularity Based Recommendation System

In [146]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [147]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726   155061224          5.0
2   276727   446520802          0.0
3   276729  052165615X          3.0
4   276729   521795028          6.0

In [148]:
users.head()

    User-ID      Location   Age
1       2.0      stockton  18.0
3       4.0         porto  17.0
5       6.0  santa monica  61.0
9      10.0      albacete  26.0
10     11.0     melbourne  14.0

In [149]:
# Joining Books and user ratings into one table
books_with_ratings = ratings.merge(books, on = 'ISBN')

In [150]:
books_with_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,155061224,5.0,Rites of Passage,Judith Rae,2001.0,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,446520802,0.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3.0,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,521795028,6.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [151]:
books_with_ratings.shape

(821941, 10)

In [152]:
popular_df = books_with_ratings.groupby('Book-Title').agg(num_rating=('Book-Rating','count'), 
                                                         avg_rating=('Book-Rating','mean'))

In [153]:
popular_df = popular_df.reset_index()

In [154]:
popular_df

,Book-Title,num_rating,avg_rating
0,Always Have Popsicles,1,0.00
1,Apple Magic (The Collector's series),1,0.00
2,Clifford Visita El Hospital (Clifford El Gran...,1,0.00
3,Dark Justice,1,10.00
4,Deceived,2,0.00
...,...,...,...
190922,Ãƒ?Ã‚?l- Connection.,1,0.00
190923,Ãƒ?Ã‚?lpiraten.,2,0.00
190924,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.25
190925,Ãƒ?Ã‚?stlich der Berge.,2,4.00
190926,Ãƒ?Ã‚?thique en toc,2,4.00

In [155]:
popular_df.sort_values('num_rating',ascending=False)

                        Book-Title  num_rating  avg_rating
186178                 Wild Animus        2263    1.032700
144438           The Da Vinci Code         828    4.679952
4414               A Painted House         766    3.199739
157334  The Nanny Diaries: A Novel         759    3.459816
22443        Bridget Jones's Diary         740    3.518919
...                            ...         ...         ...
42        ' Til the Fat Lady Sings           1    0.000000
43                           ' Tis           1    0.000000
44648               Ducklings Love           1    0.000000
44647          Duckling's Surprise           1    0.000000
143196            The Complete Dog           1    0.000000

[190927 rows x 3 columns]

In [156]:
# Popularity is based on the no. of people read the book ('num_rating' > 300) at least 300 people gave the review
# It is based on the rating it got.
popular_df = popular_df[popular_df['num_rating']>300].sort_values('avg_rating',ascending=False)

In [157]:
popular_df

,Book-Title,num_rating,avg_rating
63791,Harry Potter and the Goblet of Fire (Book 4),346,5.945087
63800,Harry Potter and the Prisoner of Azkaban (Book 3),380,5.884211
63794,Harry Potter and the Order of the Phoenix (Boo...,316,5.544304
63784,Harry Potter and the Chamber of Secrets (Book 2),501,5.177645
63808,Harry Potter and the Sorcerer's Stone (Harry P...,519,4.938343
...,...,...,...
151155,The Horse Whisperer,466,2.701717
185048,While I Was Gone,389,2.624679
159570,The Perfect Storm : A True Story of Men Agains...,364,2.568681
3989,A Map of the World,303,2.504950
186178,Wild Animus,2263,1.032700

In [158]:
# Top 50 books
popular_df.head(50)

,Book-Title,num_rating,avg_rating
63791,Harry Potter and the Goblet of Fire (Book 4),346,5.945087
63800,Harry Potter and the Prisoner of Azkaban (Book 3),380,5.884211
63794,Harry Potter and the Order of the Phoenix (Boo...,316,5.544304
63784,Harry Potter and the Chamber of Secrets (Book 2),501,5.177645
63808,Harry Potter and the Sorcerer's Stone (Harry P...,519,4.938343
174194,To Kill a Mockingbird,463,4.684665
144438,The Da Vinci Code,828,4.679952
163368,The Secret Life of Bees,704,4.558239
147945,The Five People You Meet in Heaven,392,4.543367
161612,The Red Tent (Bestselling Backlist),668,4.326347
101795,Nickel and Dimed: On (Not) Getting By in America,303,4.244224
50918,Fahrenheit 451,369,4.200542
59380,Girl with a Pearl Earring,486,4.197531
60570,Good in Bed,456,4.127193
184930,Where the Heart Is (Oprah's Book Club (Paperba...,527,4.070209
138959,The Bean Trees,365,4.032877
85258,Life of Pi,597,4.015075
173878,Timeline,510,3.872549
4728,A Prayer for Owen Meany,380,3.818421
11864,Angels &amp; Demons,616,3.788961
185317,White Oleander : A Novel (Oprah's Book Club),327,3.785933
93037,Me Talk Pretty One Day,318,3.745283
17580,Bel Canto: A Novel,319,3.664577
31059,Confessions of a Shopaholic (Summer Display Op...,312,3.663462
160098,The Poisonwood Bible: A Novel,455,3.639560
47961,Empire Falls,368,3.635870
630,1st to Die: A Novel,469,3.616205
73578,Interview with the Vampire,451,3.607539
125049,She's Come Undone (Oprah's Book Club),434,3.589862
158169,The Notebook,580,3.563793
22443,Bridget Jones's Diary,740,3.518919
116337,Red Dragon,357,3.518207
159838,The Pilot's Wife : A Novel,518,3.503861
165616,The Summons,603,3.492537
77092,Jurassic Park,443,3.485327
125048,She's Come Undone (Oprah's Book Club (Paperback)),401,3.476309
157334,The Nanny Diaries: A Novel,759,3.459816
42310,Divine Secrets of the Ya-Ya Sisterhood: A Novel,669,3.455904
145553,The Divine Secrets of the Ya-Ya Sisterhood: A ...,348,3.448276
27841,Chocolat,312,3.426282
140396,The Bonesetter's Daughter,360,3.388889
132888,Summer Sisters,528,3.378788
6188,A Walk to Remember,349,3.355301
158078,The No. 1 Ladies' Detective Agency (Today Show...,390,3.348718
159196,The Partner,430,3.316279
85962,Little Altars Everywhere: A Novel,393,3.287532
127695,Snow Falling on Cedars,596,3.266779
120068,SHIPPING NEWS,354,3.245763
73650,Into Thin Air : A Personal Account of the Mt. ...,339,3.238938
1348,A Bend in the Road,313,3.226837

In [159]:
# For model deployment I need Book-title, Author, Image URL
# Merging popular_df and books table for  model deployment
popular_df = popular_df.merge(books, left_on = 'Book-Title',right_on='Book-Title').drop_duplicates('Book-Title')[['Book-Title',
                                                                                       'Book-Author',
                                                                                       'Image-URL-M', 
                                                                                       'num_rating', 
                                                                                       'avg_rating']]

In [160]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [161]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,346,5.945087
2,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,380,5.884211
5,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,316,5.544304
9,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,501,5.177645
12,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,519,4.938343
...,...,...,...,...,...
344,The Horse Whisperer,Nicholas Evans,http://images.amazon.com/images/P/0440222656.0...,466,2.701717
348,While I Was Gone,Sue Miller,http://images.amazon.com/images/P/0345443284.0...,389,2.624679
352,The Perfect Storm : A True Story of Men Agains...,Sebastian Junger,http://images.amazon.com/images/P/0060977477.0...,364,2.568681
355,A Map of the World,Jane Hamilton,http://images.amazon.com/images/P/0385500769.0...,303,2.504950
358,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,2263,1.032700

### Collaborative Filtering
- Similar book prediction based on users feedback

In [162]:
books_with_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,155061224,5.0,Rites of Passage,Judith Rae,2001.0,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,446520802,0.0,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3.0,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,521795028,6.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...

In [163]:
# Grouping base on user-id tells the no.of books rated by each user:
x = books_with_ratings.groupby('User-ID').count()
x

,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
User-ID,,,,,,,,,
2,1,1,1,1,1,1,1,1,1
8,17,17,17,17,17,17,17,17,17
9,3,3,3,3,3,3,3,3,3
10,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
278846,1,1,1,1,1,1,1,1,1
278849,3,3,3,3,3,3,3,3,3
278851,18,18,18,18,18,18,18,18,18
278852,1,1,1,1,1,1,1,1,1
278854,8,8,8,8,8,8,8,8,8

In [164]:
x.index

Index([     2,      8,      9,     10,     12,     14,     16,     17,     19,
           20,
       ...
       278832, 278836, 278838, 278843, 278844, 278846, 278849, 278851, 278852,
       278854],
      dtype='int64', name='User-ID', length=78766)

In [165]:
x.shape

(78766, 9)

In [166]:
# Select only users who atleast gave feedback for 200 books (Power Users)
x = x['Book-Rating'] > 200
x

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 78766, dtype: bool

In [167]:
power_users = x[x].index

In [168]:
power_users

Index([   254,   2276,   2766,   3363,   6251,   6323,   6543,   6563,   6575,
         7158,
       ...
       248718, 249628, 249862, 249894, 250184, 250405, 250764, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=631)

In [169]:
power_users.shape

(631,)

In [170]:
power_users.sort_values()

Index([   254,   2276,   2766,   3363,   6251,   6323,   6543,   6563,   6575,
         7158,
       ...
       248718, 249628, 249862, 249894, 250184, 250405, 250764, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=631)

In [171]:
# Selecting only records of power users
filtered_ratings = books_with_ratings[books_with_ratings['User-ID'].isin(power_users)]

In [172]:
filtered_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1008,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994.0,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1009,277427,26217457,0.0,Vegetarian Times Complete Cookbook,Lucy Moll,1995.0,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...
1010,277427,003008685X,8.0,Pioneers,James Fenimore Cooper,1974.0,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...
1011,277427,60002050,0.0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002.0,Avon Books,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...
1012,277427,60159685,0.0,The World of Jeeves,P.G. Wodehouse,1989.0,HarperCollins Publishers,http://images.amazon.com/images/P/0060159685.0...,http://images.amazon.com/images/P/0060159685.0...,http://images.amazon.com/images/P/0060159685.0...
...,...,...,...,...,...,...,...,...,...,...
821936,250764,451410777,0.0,Sleep Tight (Onyx Book),Anne Frasier,2003.0,Onyx Books,http://images.amazon.com/images/P/0451410777.0...,http://images.amazon.com/images/P/0451410777.0...,http://images.amazon.com/images/P/0451410777.0...
821937,250764,452264464,8.0,Beloved (Plume Contemporary Fiction),Toni Morrison,1994.0,Plume,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
821938,250764,048623715X,0.0,Glamorous Movie Stars of the Thirties: Paper D...,Tom Tierney,1982.0,Dover Publications,http://images.amazon.com/images/P/048623715X.0...,http://images.amazon.com/images/P/048623715X.0...,http://images.amazon.com/images/P/048623715X.0...
821939,250764,486256588,0.0,Schiaparelli Fashion Review: Paper Dolls in Fu...,Tom Tierney,1988.0,Dover Publications,http://images.amazon.com/images/P/0486256588.0...,http://images.amazon.com/images/P/0486256588.0...,http://images.amazon.com/images/P/0486256588.0...
821940,250764,515069434,0.0,Lady Laughing Eyes (To Have and to Hold),Lee Damon,1984.0,Jove Books,http://images.amazon.com/images/P/0515069434.0...,http://images.amazon.com/images/P/0515069434.0...,http://images.amazon.com/images/P/0515069434.0...

In [173]:
# I am considering only the best users (given feedback on atleast 200 books) and group them based on the group title
y = filtered_ratings.groupby('Book-Title').count()

In [174]:
y

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),1,1,1,1,1,1,1,1,1
Dark Justice,1,1,1,1,1,1,1,1,1
Deceived,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã‚Â¿Eres tu mi mamÃƒÂ¡?/Are You My Mother?,1,1,1,1,1,1,1,1,1
Ãƒ?coute ma diffÃƒÂ©rence (Le Temps des femmes),1,1,1,1,1,1,1,1,1
Ãƒ?Ã‚?ber das Fernsehen.,2,2,2,2,2,2,2,2,2
Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den Staat.,2,2,2,2,2,2,2,2,2
Ãƒ?Ã‚?lpiraten.,1,1,1,1,1,1,1,1,1

In [175]:
# The above dataframe tell how many users have read the book.
y.sort_values('User-ID',ascending=False)

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
Wild Animus,259,259,259,259,259,259,259,259,259
Bridget Jones's Diary,221,221,221,221,221,221,221,221,221
The Notebook,196,196,196,196,196,196,196,196,196
The Pelican Brief,187,187,187,187,187,187,187,187,187
The Firm,186,186,186,186,186,186,186,186,186
...,...,...,...,...,...,...,...,...,...
e-Business Intelligence: Turning Information into Knowledge into Profit,1,1,1,1,1,1,1,1,1
e-Data: Turning Data into Information with Data Warehousing (Addison-Wesley Information Technology Series),1,1,1,1,1,1,1,1,1
eCFO: Sustaining Value in The New Corporation,1,1,1,1,1,1,1,1,1
Hippolyta and the Curse of the Amazons,1,1,1,1,1,1,1,1,1
Ãƒ?Ã‚?lpiraten.,1,1,1,1,1,1,1,1,1

In [176]:
y = y['User-ID'] >= 50

In [177]:
y

Book-Title
 Always Have Popsicles                                            False
 Apple Magic (The Collector's series)                             False
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)    False
 Dark Justice                                                     False
 Deceived                                                         False
                                                                  ...
Ã‚Â¿Eres tu mi mamÃƒÂ¡?/Are You My Mother?                            False
Ãƒ?coute ma diffÃƒÂ©rence (Le Temps des femmes)                      False
Ãƒ?Ã‚?ber das Fernsehen.                                            False
Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den Staat.               False
Ãƒ?Ã‚?lpiraten.                                                     False
Name: User-ID, Length: 118466, dtype: bool

In [178]:
famous_books = y[y].index

In [179]:
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Fine Balance',
       'A Heartbreaking Work of Staggering Genius',
       ...
       'Wild Animus', 'Winter Moon', 'Winter Solstice', 'Wish You Well',
       'Without Remorse', 'Wuthering Heights', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=523)

In [180]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [181]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1008,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994.0,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1018,277427,60930535,0.0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999.0,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1020,277427,60934417,0.0,Bel Canto: A Novel,Ann Patchett,2002.0,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1023,277427,61009059,9.0,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995.0,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1028,277427,006440188X,0.0,The Secret Garden,Frances Hodgson Burnett,1998.0,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
821896,250764,446364673,0.0,The Gift,Kirk Douglas,1993.0,Warner Books,http://images.amazon.com/images/P/0446364673.0...,http://images.amazon.com/images/P/0446364673.0...,http://images.amazon.com/images/P/0446364673.0...
821917,250764,449907481,0.0,A Thousand Acres (Ballantine Reader's Circle),JANE SMILEY,1992.0,Ballantine Books,http://images.amazon.com/images/P/0449907481.0...,http://images.amazon.com/images/P/0449907481.0...,http://images.amazon.com/images/P/0449907481.0...
821922,250764,451180410,0.0,Mortal Fear,Greg Iles,1998.0,Signet Book,http://images.amazon.com/images/P/0451180410.0...,http://images.amazon.com/images/P/0451180410.0...,http://images.amazon.com/images/P/0451180410.0...
821924,250764,451191013,0.0,The Regulators,Stephen King,2002.0,Signet Book,http://images.amazon.com/images/P/0451191013.0...,http://images.amazon.com/images/P/0451191013.0...,http://images.amazon.com/images/P/0451191013.0...
821926,250764,451192001,0.0,How Stella Got Her Groove Back,Terry McMillan,1997.0,Signet Book,http://images.amazon.com/images/P/0451192001.0...,http://images.amazon.com/images/P/0451192001.0...,http://images.amazon.com/images/P/0451192001.0...

In [182]:
# pivot table giving the ratings for each book from each user
# Book row with userId as column
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID',values='Book-Rating')

In [183]:
pt

User-ID,254,2276,2766,3363,6251,6323,6543,6563,6575,7158,...,248718,249628,249862,249894,250184,250405,250764,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
# Null values should be filled with zeros
pt = pt.fillna(0)

In [185]:
pt

User-ID,254,2276,2766,3363,6251,6323,6543,6563,6575,7158,...,248718,249628,249862,249894,250184,250405,250764,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [186]:
similarity_scores = cosine_similarity(pt)

In [187]:
similarity_scores

array([[1.        , 0.1240123 , 0.01972922, ..., 0.13494677, 0.08220136,
        0.05337241],
       [0.1240123 , 1.        , 0.25731117, ..., 0.08080783, 0.18276226,
        0.14111475],
       [0.01972922, 0.25731117, 1.        , ..., 0.06524309, 0.07190724,
        0.07152398],
       ...,
       [0.13494677, 0.08080783, 0.06524309, ..., 1.        , 0.07113412,
        0.02177076],
       [0.08220136, 0.18276226, 0.07190724, ..., 0.07113412, 1.        ,
        0.11813621],
       [0.05337241, 0.14111475, 0.07152398, ..., 0.02177076, 0.11813621,
        1.        ]], shape=(523, 523))

In [188]:
type(similarity_scores)

numpy.ndarray

In [189]:
df_temp = pd.DataFrame(similarity_scores)

In [190]:
df_temp

,0,1,2,3,4,5,6,7,8,9,...,513,514,515,516,517,518,519,520,521,522
0,1.000000,0.124012,0.019729,0.000000,0.063374,0.033266,0.104019,0.171698,0.043671,0.089261,...,0.019705,0.041615,0.062305,0.015812,0.012310,0.011376,0.019719,0.134947,0.082201,0.053372
1,0.124012,1.000000,0.257311,0.000000,0.125962,0.117837,0.145318,0.144009,0.054690,0.057489,...,0.090424,0.090457,0.076791,0.104386,0.170205,0.077483,0.209555,0.080808,0.182762,0.141115
2,0.019729,0.257311,1.000000,0.000000,0.042865,0.161862,0.000000,0.058440,0.000000,0.000000,...,0.121861,0.111290,0.042944,0.194988,0.032919,0.030424,0.123049,0.065243,0.071907,0.071524
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.130310,0.000000,0.000000,0.000000,0.062439,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.150404,0.082763,0.000000,0.000000,0.000000
4,0.063374,0.125962,0.042865,0.000000,1.000000,0.115515,0.115895,0.047478,0.000000,0.007735,...,0.088916,0.090414,0.086416,0.108348,0.026744,0.030421,0.104361,0.042404,0.120047,0.017879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,0.011376,0.077483,0.030424,0.150404,0.030421,0.188092,0.000000,0.218555,0.000000,0.036706,...,0.030386,0.064172,0.024762,0.024384,0.018982,1.000000,0.030408,0.030097,0.041464,0.058374
519,0.019719,0.209555,0.123049,0.082763,0.104361,0.128436,0.091998,0.058411,0.181579,0.000000,...,0.108266,0.296623,0.216042,0.198804,0.032903,0.030408,1.000000,0.052168,0.195079,0.211583
520,0.134947,0.080808,0.065243,0.000000,0.042404,0.101975,0.048177,0.057812,0.000000,0.000000,...,0.101778,0.110093,0.042482,0.060424,0.032565,0.030097,0.052168,1.000000,0.071134,0.021771
521,0.082201,0.182762,0.071907,0.000000,0.120047,0.121244,0.175223,0.079646,0.094321,0.000000,...,0.071818,0.151673,0.118726,0.057631,0.044865,0.041464,0.195079,0.071134,1.000000,0.118136
522,0.053372,0.141115,0.071524,0.000000,0.017879,0.037107,0.065815,0.024376,0.064951,0.094827,...,0.021980,0.074272,0.120268,0.200459,0.172617,0.058374,0.211583,0.021771,0.118136,1.000000

In [191]:
pt.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Fine Balance',
       'A Heartbreaking Work of Staggering Genius',
       ...
       'Wild Animus', 'Winter Moon', 'Winter Solstice', 'Wish You Well',
       'Without Remorse', 'Wuthering Heights', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=523)

In [192]:
df_temp_name = df_temp

In [193]:
df_temp_name.index = pt.index
df_temp_name.columns = pt.index

In [194]:
# This gives the similarity scores between books
df_temp_name

Book-Title,1984,1st to Die: A Novel,2nd Chance,4 Blondes,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Civil Action,A Fine Balance,A Heartbreaking Work of Staggering Genius,...,Wild Animus,Winter Moon,Winter Solstice,Wish You Well,Without Remorse,Wuthering Heights,You Belong To Me,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw"""
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,1.000000,0.124012,0.019729,0.000000,0.063374,0.033266,0.104019,0.171698,0.043671,0.089261,...,0.019705,0.041615,0.062305,0.015812,0.012310,0.011376,0.019719,0.134947,0.082201,0.053372
1st to Die: A Novel,0.124012,1.000000,0.257311,0.000000,0.125962,0.117837,0.145318,0.144009,0.054690,0.057489,...,0.090424,0.090457,0.076791,0.104386,0.170205,0.077483,0.209555,0.080808,0.182762,0.141115
2nd Chance,0.019729,0.257311,1.000000,0.000000,0.042865,0.161862,0.000000,0.058440,0.000000,0.000000,...,0.121861,0.111290,0.042944,0.194988,0.032919,0.030424,0.123049,0.065243,0.071907,0.071524
4 Blondes,0.000000,0.000000,0.000000,1.000000,0.000000,0.130310,0.000000,0.000000,0.000000,0.062439,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.150404,0.082763,0.000000,0.000000,0.000000
A Bend in the Road,0.063374,0.125962,0.042865,0.000000,1.000000,0.115515,0.115895,0.047478,0.000000,0.007735,...,0.088916,0.090414,0.086416,0.108348,0.026744,0.030421,0.104361,0.042404,0.120047,0.017879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,0.011376,0.077483,0.030424,0.150404,0.030421,0.188092,0.000000,0.218555,0.000000,0.036706,...,0.030386,0.064172,0.024762,0.024384,0.018982,1.000000,0.030408,0.030097,0.041464,0.058374
You Belong To Me,0.019719,0.209555,0.123049,0.082763,0.104361,0.128436,0.091998,0.058411,0.181579,0.000000,...,0.108266,0.296623,0.216042,0.198804,0.032903,0.030408,1.000000,0.052168,0.195079,0.211583
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.134947,0.080808,0.065243,0.000000,0.042404,0.101975,0.048177,0.057812,0.000000,0.000000,...,0.101778,0.110093,0.042482,0.060424,0.032565,0.030097,0.052168,1.000000,0.071134,0.021771
Zoya,0.082201,0.182762,0.071907,0.000000,0.120047,0.121244,0.175223,0.079646,0.094321,0.000000,...,0.071818,0.151673,0.118726,0.057631,0.044865,0.041464,0.195079,0.071134,1.000000,0.118136
"\O\"" Is for Outlaw""",0.053372,0.141115,0.071524,0.000000,0.017879,0.037107,0.065815,0.024376,0.064951,0.094827,...,0.021980,0.074272,0.120268,0.200459,0.172617,0.058374,0.211583,0.021771,0.118136,1.000000

In [195]:
def recommend(book_name):
    index = np.where(pt.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key = lambda x: x[1], reverse=True)[1:6]
    # Lets create empty list and in that list I want to populate with the book information
    # Book Author book-title image url
    # Empty list

    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        data.append(item)
    return data

In [196]:
# On the basis of 1984 code recommended similar books to 1984
recommend('1984')

[['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['The Tale of the Body Thief (Vampire Chronicles (Paperback))',
  'Anne Rice',
  'http://images.amazon.com/images/P/034538475X.01.MZZZZZZZ.jpg'],
 ["The Bonesetter's Daughter",
  'Amy Tan',
  'http://images.amazon.com/images/P/0399146431.01.MZZZZZZZ.jpg']]

In [197]:
recommend('Animal Farm')

[['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg'],
 ['Call of the Wild',
  'Jack London',
  'http://images.amazon.com/images/P/1559029838.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['Pride and Prejudice',
  'Jane Austen',
  'http://images.amazon.com/images/P/055321215X.01.MZZZZZZZ.jpg']]

In [198]:
pt.index[0]

'1984'

### Export Data and Model to pickle

In [199]:
# import Pickle and dump the data and models
import pickle as pkl
pkl.dump(popular_df,open('popular.pkl','wb')) # Popular based recommender system

In [200]:
pkl.dump(books,open('books.pkl','wb')) # book data
pkl.dump(pt,open('pt.pkl','wb')) # books and user feedback
pkl.dump(similarity_scores,open('similarity_scores.pkl','wb'))

Exception: File `'<app.py>'` not found.